# source: https://semgrep.dev/docs/semgrep-ci/sample-ci-configs#sample-github-actions-configuration-file
name: Semgrep CE scan

on:
  pull_request: {}
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  security-scan:
    name: Run Security Scan
    uses: ./.github/workflows/security-scan.yml
