name: Security Scan

on:
  pull_request: {}
  workflow_call:

permissions:
  contents: read

jobs:
  security-scan:
    name: Run Security Scan
    runs-on: ubuntu-latest
    container:
      image: semgrep/semgrep
    steps:
      - uses: actions/checkout@v4
      - run: semgrep scan --error --config auto
