services:
  nginx-proxy:
    build:
      context: proxy
      dockerfile: Dockerfile
    ports:
      - "80:80"
    volumes:
      - "/var/log/nginx:/var/log/nginx"
    depends_on:
      - frontend
  frontend:
    image: frontend
    build:
      context: frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    entrypoint: [ "bun", "run", "index.ts" ]
  backend:
    image: backend
    build:
      context: backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    entrypoint: [ "uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000" ]
