github_repo = "owner/repo-name"

# region          = "us-east-2"
# project_name    = "{{ cookiecutter.pypi_package_name }}"
# tf_state_bucket = ""  # leave empty to create a new S3 bucket for Terraform state
