name: Deploy to Elastic Beanstalk (AWS CLI)

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  security:
    uses: ./.github/workflows/security.yml

  deploy:
    runs-on: ubuntu-latest
    environment: prod
    needs: security

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Install AWS CLI and EB CLI
      run: |
        pip install awscli awsebcli --upgrade

    - name: Deploy to Elastic Beanstalk
      run: bash ./scripts/deploy.sh
